@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
  font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
  max-height: 100vh;
  max-width: 100vw;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.content {
  grid-area: content;
  display: flex;
  flex-direction: row;
  min-height: 0;
  min-width: 0;
  overflow: hidden;
  .viewer {
    .fullscreen {
      justify-content: center;
      align-items: center;
      display: flex;
      min-height: 0;
      min-width: 0;
      overflow: hidden;
    }
    background-color: #212526;
    display: grid;
    flex: 1;
    grid-template-rows: auto 52px;
    .information {
      flex: 0 0 40px;
      color: white;
      border-top: 1px solid #0067a3;
      background-color: #006dad;
      display: flex;
      align-items: center;
      justify-content: center;
      &__details {

      }
    }
    .screen {
      flex: 1 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      min-height: 0;
      min-width: 0;
      padding: 5px;
      img, video {
        max-height: 100%;
        max-width: 100%;
        display: block;
      }
      &__blankslate {
        text-align: center;
        color: white;
        .icon {
          margin: 0 0 20px 0;
          text-align: center;
          width: 100%;
          height: 100px;
          background-color: white;
          mask: url("/images/chalkboard-teacher.svg") no-repeat center;
        }
        .title {
            margin-bottom: 10px;
        }

      }
    }
  }
  .participants {
    flex-direction: column;
    align-items: stretch;
    display: flex;
    flex: 0 0 200px;
    &__header {
      flex: 0 0 40px;
      background-color: #f5f6f7;
      border-bottom: 1px solid #dddfe2;
      border-right: 2px solid #eaeced;
      padding-left: 5px;
      align-items: center;
      display: flex;
      font-weight: 600;
    }
    &__list {
      padding: 5px;
      .participant {
        display: block;
        width: 190px;
        height: 113px;
        margin-bottom: 5px;
        text-align: center;
        video {
          width: 190px;
          height: 113px;
          box-shadow: 0px 0px 6px 0px #0000001a;
        }
        img {
          height: 113px;
        }
        &.placeholder {
          width: 190px;
          height: 113px;
          background-color: white;
          mask: url("/images/stop-desktop-share.png") no-repeat center;
        }
        position: relative;
        //border: 2px solid #1e1e1e;
        &__user {
          position: absolute;
          left: 0;
          color: white;
          bottom: 0;
          width: 100%;
          height: auto;
          background-color: rgba(0, 0, 0, 0.7);
          &__content {
            padding: 5px;
            display: block;
            height: auto;
          }
          &__username {
          }
          &__status {
            float: right;
            &--online {
              color: #28a745;
            }
            &--offline {
              color: #dc3545;
            }
          }
        }
      }
      .participant-selectable {
        cursor: pointer;
      }
    }
  }
}

.chat {
  flex-direction: column;
  align-items: stretch;
  display: flex;
  width: 100px;
  flex: 0 0 350px;
  border-left: 2px solid #eaeced;
  &__header {
    flex: 0 0 40px;
    background-color: #f5f6f7;
    border-bottom: 1px solid #dddfe2;
    padding-left: 5px;
    align-items: center;
    display: flex;
    font-weight: 600;
  }
  .chat-messages {
    padding: 10px;
    flex: 1 auto;
    .message {
      margin-bottom: 15px;
      width: 100%;
      .author {
        padding-bottom: 5px;
        .time {
          color: #a8aab1;
          padding-left: 6px;
        }
        .name {
          font-weight: 500;
        }
      }
      .content {
        p {
          margin: 0;
        }
      }
    }
  }
  .send-message {
    border-top: 2px solid #eaeced;
    flex: 0 0 50px;
    color: #AFB3AD;
    padding-left: 5px;
    align-items: center;
    display: flex;
  }
}

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: #0073b7;
  border-bottom: 2px solid #0067a3;
  button {
    outline: none;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
    &.copy-link {
      padding: 3px 10px;
      font-size: 12px;
      color: #fff;
      user-select: none;
      background-color: #28a745;
      border-color: #28a745;
      border-radius: 0.25em;
      vertical-align: middle;
      position: relative;
      top: -2px;
    }
  }
  .left {
    font-size: 1em;
    flex: 0 0 auto;
    text-align: left;
    color: white;
    span {
      padding-right: 5px;
    }
  }
  .center {
    flex: 1;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 1.2em;

  }
  .right {
    font-size: 1em;
    width: 100px;
    flex: 0 0 150px;
    text-align: right;
    color: white;
  }
}

.container {
  display: grid;
  grid-template-columns: auto 200px;
  grid-template-areas: "header header header" "content content content";
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  color: #444;
  grid-template-rows: 35px auto;

}
      
.presenter-modal-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  button {
    border-radius: 4px;
    border-color: #e2e2e2;
    background: none;
    color: #0073b7;
    padding: 6px 12px;
    /* border: none; */
    cursor: pointer;
    font-size: 1.2em;
    margin: 0px 16px;
  }
}

.modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-body {
    background: white;
    border-radius: 10px;

    .modal-content {
      margin: 20px;
    }
  }
}

.toolbar {
  display: flex;
  justify-content: center;
  .actions {
    &.full-screen {
      background-image: url("/images/expand-solid.svg");
    }
    &.share {
      background-image: url("/images/desktop-share.png");
    }
    &.stop-share {
      background-image: url("/images/stop-desktop-share.png");
    }
    &.present {
      background-color: white;
      mask: url("/images/chalkboard-teacher.svg") no-repeat center;
    }
    &.settings {
      background-image: url("/images/cog.svg");
    }
    &.leave {
      background-image: url("/images/hang_up.png");
    }
    &.microphone {
      background-image: url("/images/microphone.svg");
    }
  }
  .action-bar {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5px 5px 0px 0px;
    padding: 5px;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
    .actions-container {
      display: flex;
      margin: 0 auto;
      padding: 0;
      width: 100%;
      justify-content: flex-end;
      .action-item {
        .icon {
          display: inline-block;
        }
        cursor: pointer;
        display: inline-block;
        position: relative;
        .action-label {
          width: 95px;
          height: 24px;
          margin-right: 0;
          background-size: 24px;
          background-position: 50%;
          background-repeat: no-repeat;
        }
        .action-description {
          text-align: center;
          color: white;
          font-size: 0.8em;
          display: block;
        }
      }
      .action-disabled {
        pointer-events: none;
        cursor: default;
        opacity: 0.4;
      }
  }
  }
}


.room-join-wrapper {
  background-color: #002e8d;
  color: #ffffff;
  width: 100%;
  height: 100%;
}
.room-join-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.room-join-container-intro {
  text-align: center;
  margin:20px;
  img {
    width: 100px;
  }
  h2 {
    font-size: 1.5em;
  }
}
.room-join-container-box {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 10px;
  color: rgb(23, 43, 77);
  background: rgb(255, 255, 255);
  border-radius: 3px;
  padding:25px;
  width: 300px;
  &__help {
    margin-bottom: 20px;
  }
  &__join {
    cursor: pointer;
    font-size: inherit;
    line-height: 2em;
    max-width: 100%;
    width: 100%;
    color: rgb(255, 255, 255);
    background: #009432;
    border-radius: 3px;
    border-width: 0px;
    margin: 20px 0px 0px 0px;
    outline: none;
  }
  &__username {
    align-items: center;
    background-color: rgb(250, 251, 252);
    color: rgb(9, 30, 66);
    font-size: 14px;
    max-width: 100%;
    border-radius: 3px;
    overflow: hidden;
    border: 2px solid rgb(223, 225, 230);
    padding: 6px;
    input {
      box-sizing: border-box;
      color: inherit;
      cursor: inherit;
      font-size: 14px;
      background: transparent;
      width: 100%;
      border-width: 0px;
      outline: none;
    }
  }
}
